<!DOCTYPE html>
<html lang="en">
<!--When possible, keep this page pure HTML only unless functionality requires inline scirpting.-->
<title>
  Fresno State Class Info
</title>

<head>
  <!--External CSS style sheet-->
  <link rel="stylesheet" href="styles.css">
  <script src="DataBase4Classes\allCsciData.js"></script>
  <script src="DataBase4Classes\allCsciProfData.js"></script>
  <script src="scripts.js"></script>
</head>
<!--Start of main body-->

<body>
  <!--Top Navigation Bar as an unordered list-->
  <div class="topbar">
    <div>
      <ul id="topnav">
        <li><a href="index.html">FS Class info logo</a></li>
        <li><a href="CSCIcoursepage.html">Courses</a></li>
        <li><a href="#departments">Departments</a></li>
        <li><a href="CSFaculty.html">Faculty</a></li>
        <!--Search bar and 'Go' button-->
      </ul>
      <div class="endOfTop">
        <button type="submit" style="float: right; margin-left: 15px;" onclick="findSearch()">Go</button>
        <form id="searchClasses" autocomplete="off">
          <div class="autocomplete">
            <input id="searchBar" style="overflow: visible;" type="text" name="Search" placeholder="Search">
          </div>
        </form>
        <script>autocomplete(document.getElementById("searchBar"), allCSCINames);</script>
      </div>
    </div>
  </div>
  <!--insert main page code starting here-->
  <div class="container" id="container">
  </div>
  <!--External Javascript
        <script src="scripts.js"></script>-->
  <script src="DataBase4Classes\functions.js"></script>
  <script src="scripts.js"></script>
</body>
<!--Footer/Bottom of page-->
<footer>
  <div class="bottombar">
    <!--Footer navigation-->
    <p id="navtitle">Welcome to the Home Page:</p>
    <ul id="bottomnav">
      <li>Search classes with the buttons</li>
    </ul>
    <ul id="bottomnav">
      <li>Search classes by professor</li>
    </ul>
    <ul id="bottomnav">
      <li>Search classes by departments</li>
    </ul>
    <!--Copyright year-->
    <div id="copyright">
      <script>document.write(new Date().getFullYear())</script>&#169; FSCI, All Rights Reserved.
    </div>
  </div>
</footer>

</html>