
  /* This is for the side navigational bar */ /* */
  .sideBar{
    height: 100%; /* We want it to cover the entire screen*/
    width: 0; /* We start it at 0 because it should not appear yet, changes with JS*/
    position: fixed; /* It will stay in place*/
    z-index: 1; /* Stays in front of the page */
    top: 0; /* Stays at the top */
    left: 0; /* This nav bar will be comming from the left, change it to right if we want one in the right side */
    background-color: darkblue;
    overflow-x: hidden; /* Disables the horizontal scrolling*/
    padding-top: 50px; /* Places content 50px from the top */
    transition: 0.5s; /*Shows the sliding effect*/
}

.sideBar p, .sideBar a{ /* This just changes the paragraph tags and how they are displayed in the side bar*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: pink;
    display: block;
    transition: 0.0s;
    font-size: 30px;
}

.sideBar p:hover, .sideBar a:hover{
    color: orange;
    background-color: blueviolet;
}

.ClassContainer, .ProfessorContainer, #sideBarClickMe, #sideBarClickMeTwo{
    transition: margin-left .5s;
    padding: 20px;
}

.sideBar .closeButton{
    position: absolute; /* The x button should not move*/
    /* Position of the x button should be top right*/
    top: 0px; /* This will be at the top of the page */
    right: 15px; /* Moved 25 px from the right*/
    font-size: 40px; /* Making it visible */
    margin-left: 20px; /* Give it space on the left*/

}


 /* This is for the side navigational bar Two*/ /* */
 .sideBarTwo{
    height: 100%; /* We want it to cover the entire screen*/
    width: 0; /* We start it at 0 because it should not appear yet, changes with JS*/
    position: fixed; /* It will stay in place*/
    z-index: 1; /* Stays in front of the page */
    top: 0; /* Stays at the top */
    right: 0; /* This nav bar will be comming from the right */
    background-color: darkblue;
    overflow-x: hidden; /* Disables the horizontal scrolling*/
    padding-top: 50px; /* Places content 50px from the top */
    transition: 0.5s; /*Shows the sliding effect*/
}

.sideBarTwo p, .sideBarTwo a{ /* This just changes the paragraph tags and how they are displayed in the side bar*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: pink;
    display: block;
    transition: 0.3s;
    font-size: 30px;
}

.sideBarTwo p:hover, .sideBarTwo a:hover{
    color: orange;
    background-color: blueviolet;
}

.sideBarTwo .closeButtonTwo{
    position: absolute; /* The x button should not move*/
    /* Position of the x button should be top right*/
    top: 0px; /* This will be at the top of the page */
    Left: 0px; /* Moved 25 px from the right*/
    font-size: 40px; /* Making it visible */
    margin-right: 20px; /* Give it space on the left*/

}

