/* Faculty Page CSS */
#faculty{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: #ced1d4;
    margin: auto;
    border-style: solid;
    border: 2px solid #b1102b;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 160px;
    font-size: 18px;
    /*padding: 5px;*/
}
#faculty td, #faculty th{
    border: 1px solid #ddd;
    padding: 8px;
}
#faculty tr:nth-child(even){background-color: whitesmoke;}
#faculty tr:hover {background-color: #ddd}
#faculty th {
  /*  padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;*/
    background-color: #b1102b;
    color: white;
}
#pageTitle{
    text-align: center; color: #000;  margin-top: 80px; background-color: whitesmoke;
    width: 40%;
}